* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
   
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color:#0A1A2F;
    position: fixed;
    width: 100%;
}

.logo {
    font-size: 35px;
    font-weight: bold;
    color:  #F3C623;
}

.nav-bar {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-bar li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
}

.nav-bar li a:hover {
    text-decoration: underline;
    color:  #F3C623;
}